<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <LinkTo @route="index" class="navbar-brand">Watch Store</LinkTo>

  <div id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0">
      <CartContainer />
    </div>
  </div>
</nav>
{{outlet}}